*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    color: snow;
    font-size: 28px;
}

.inner-header{
    background-color: darkgreen;
    min-height: 200px;
    animation-name: color-changer;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#header{
    margin-bottom: 10px;
}

.inner-content{
    min-height: 505px;
}

#content{
    width: 70%;
    float: left;
}

.inner-sidebar{
    background-color: darkslategray;
    min-height: 505px;
}

#sidebar{
    padding-left: 10px;
    width: 30%;
    float: left;
}

.inner-footer{
    background-color: darkgreen;
    height: 200px;
}

#footer{
    margin-top: 10px;
}

#container{
    max-height: 505px;
}

.row:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row{
    display: inline-block;
}

* html .row {
    height: 1%;
}

.row{
    display: block;
}

#logo{
    max-height: 200px;
    float: left;
    width: 0%;
    z-index: 2;
}

@keyframes cat {
    from{
        padding-top: 0;
    }
    to{
        padding-top: 40px;
    }
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes color-changer {
    from{
        background-color: lightblue;
        color: blue;
    }
    to{
        background-color: dimgray;
        color: white;
    }
}

img[alt="logo"]{
    max-width: 100%;
    display: block;
    text-align: center;
    animation-name: cat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#name{
    float: left;
    padding-top: 25px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#pages{
    min-height: 50px;
    margin-bottom: 10px;
}

#shedulle{
    width: 25%;
    float: left;
    text-align: center;
}

#address{
    width: 25%;
    float: left;
    text-align: center;
    padding-left: 10px;
}

#contacts{
    width: 25%;
    float: left;
    text-align: center;
    padding-left: 10px;
}

#about-goods{
    width: 25%; 
    float: left;
    text-align: center;
    padding-left: 10px;
}

#inner-shedulle{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

#inner-address{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

#inner-contacts{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

#inner-about-goods{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

.refs{
    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    display: block;
    float: left;
    padding-left: 340px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

canvas{
    z-index: -1;
    display: block;
    float: left;
}

.items{
    float: left;
    width: 33.33%;
    padding-right: 5px;
    padding-bottom: 5px;
}

.color-box-item{
    width: 100%;
    height: 250px;
    background-color: steelblue;
}

@keyframes recolor{
    from{
        background-color: steelblue;
    }
    to{
        background-color: firebrick;
    }
}

.color-box-item:hover{
    animation-name: recolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.imgview{
    display: block;
    float: left;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 90px;
}

#add{
    padding-top: 30px;
}

#your-item{
    text-align: center;
}

.desc{
    padding-top: 30px;
    display: block;
    float: left;
    padding-left: 30px;
    font-size: 20px;
}

@media screen and (max-width: 940px){
    .refs{
        padding-top: 20px;
        height: 80px;
    }
}

@media screen and (max-width: 1210px){
    #inner-contacts{
        padding-top: 0;
    }
}

@media screen and (max-width: 905px){
    #inner-address{
        padding-top: 0;
    }
}

@media screen and (max-width: 900px){
    #content, #sidebar{
        float: none;
        width: 100%;
        padding: 0;
    }

    #sidebar{
        height: 300px;
    }

    #content{
        height: 600px;
    }

    body{
        font-size: 14px;
    }

    .inner-header{
        min-height: 150px;
    }

    .inner-content, .inner-sidebar{
        min-height: 300px;
        font-size: 20px;
        padding: 0;
    }

    #pages{
        margin: 0;
    }

    #address, #contacts, #about-goods{
        padding: 0;
    }

    #footer{
        margin: 0;
    }

    .row{
        display: inline;
    }

    .items{
        float: none;
        width: 100%;
        height: 100px;
        padding: 0;
    }

    .color-box-item:hover{
    animation: none;
    }

    .refs{
        display: block;
        float: none;
        padding: 0;
        max-width: 90px;
        padding-top: 8px;
        animation-iteration-count: infinite;
    }

    .imgview{
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 45px;
        margin-top: 15px;
        margin-right: 10px;
    }

    .desc{
        font-size: 16px;
    }

    .color-box-item{
        background-color: darkolivegreen;
        width: 100%;
        height: 100px;
    }
    
    #inner-about-goods,#inner-contacts, #inner-address, #inner-shedulle{
        padding-top: 15px;
    }
    #first-item, #third-item, #fifth-item{
        background-color: olivedrab;
    }
}