*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    color: snow;
    font-size: 28px;
}

.inner-header{
    background-color: darkgreen;
    height: 200px;
    animation-name: color-changer;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#header{
    margin-bottom: 10px;
}

.inner-content{
    height: 505px;
    background-image: url(./imgs/img7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content{
    width: 75%;
    float: left;
}

.inner-sidebar{
    background-image: url("./imgs/img2.jpg");
    font-size: 24px;
    min-height: 505px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#sidebar{
    padding-left: 10px;
    width: 25%;
    float: left;
}

.inner-footer{
    background-color: darkgreen;
    height: 200px;
}

#footer{
    margin-top: 10px;
}

#outer-container{
    padding-left: 10px;
    padding-right: 10px;
}

#container{
    max-height: 505px;
}

.row:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row{
    display: inline-block;
}

* html .row {
    height: 1%;
}

.row{
    display: block;
}

canvas{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

#logo{
    height: 200px;
    z-index: 2;
}

@keyframes cat {
    from{
        padding-top: 0;
    }
    to{
        padding-top: 40px;
    }
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes color-changer {
    from{
        background-color: lightblue;
        color: blue;
    }
    to{
        background-color: dimgray;
        color: white;
    }
}

#cat {
    margin-left: 10px;
    max-width: 200px;
}

#name{
    top: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#pages{
    min-height: 50px;
    margin-bottom: 10px;
}

#shedulle{
    width: 25%;
    float: left;
    text-align: center;
}

#address{
    width: 25%;
    float: left;
    text-align: center;
    padding-left: 10px;
}

#contacts{
    width: 25%;
    float: left;
    text-align: center;
    padding-left: 10px;
}

#about-goods{
    width: 25%; 
    float: left;
    text-align: center;
    padding-left: 10px;
}

#inner-shedulle{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

#inner-address{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

#inner-contacts{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

#inner-about-goods{
    width: 100%;
    padding-top: 15px;
    display: inline-block;
    background: steelblue;
    min-height: 70px;
    max-height: 90px;
}

.refs{
    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    display: block;
    float: left;
    padding-left: 340px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 940px){
    .refs{
        padding-top: 20px;
        height: 80px;
    }
}

@media screen and (max-width: 1210px){
    #inner-contacts{
        padding-top: 0;
    }
}

@media screen and (max-width: 925px){
    #inner-address{
        padding-top: 0;
    }
}

@media screen and (max-width: 900px){
    #cat{
        max-width: 135px;
        padding-top: 15px;
        padding-left: 10px;
        margin: 0;
    }

    #outer-container{
        padding: 0;
    }

    #content, #sidebar{
        float: none;
        width: 100%;
        padding: 0;
    }

    #sidebar{
        height: 300px;
    }

    #content{
        height: 300px;
    }

    body{
        font-size: 14px;
    }

    .inner-header{
        height: 150px;
    }

    #logo{
        height: 150px;
    }

    .inner-content, .inner-sidebar{
       height: 300px;
        font-size: 20px;
        padding: 0;
    }

    #pages{
        margin: 0;
    }

    #address, #contacts, #about-goods{
        padding: 0;
    }

    #footer{
        margin: 0;
    }

    .row{
        display: inline;
    }

    .refs{
        display: block;
        float: none;
        padding: 0;
        max-width: 90px;
        padding-top: 8px;
        animation-iteration-count: infinite;
    }
    
    #inner-about-goods,#inner-contacts, #inner-address, #inner-shedulle{
        padding-top: 15px;
    }
}